<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">

    <title>All Things Games</title>
</head>
<body>
        <nav>
                <h1><a href="/">All Things Games</a></h1>
                {{#if logged_in}}
                <a href="/dashboard">Dashboard</a>
                <button id="logout">Logout!</button>
                {{else}}
                <a href="/login">Login!</a>
                {{/if}}
        </nav>

                <section class="carousel" aria-label="Gallery">
                    <ol class="carousel__viewport">
                        <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                            <div class="carousel__snapper">
                                <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
                                <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
                            </div>
                        </li>
                        <li id="carousel__slide2" tabindex="0" class="carousel__slide">
                            <div class="carousel__snapper"></div>
                            <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
                            <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
                        </li>
                        <li id="carousel__slide3" tabindex="0" class="carousel__slide">
                            <div class="carousel__snapper"></div>
                            <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
                            <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
                        </li>
                        <li id="carousel__slide4" tabindex="0" class="carousel__slide">
                            <div class="carousel__snapper"></div>
                            <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
                            <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
                        </li>
                    </ol>
                    <aside class="carousel__navigation">
                        <ol class="carousel__navigation-list">
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
                            </li>
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
                            </li>
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
                            </li>
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide 4</a>
                            </li>
                        </ol>
                    </aside>
                </section>

    <main>
        {{{body}}}
    </main>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>Upcoming Games</h2>
                    <div class="gameOne">Teenage Mutant Ninja Turtles: The Cowabunga Collection</div>
                        <div id="gameOneDates">August 30th, 2022</div>

                    <div class="gameTwo">Resident Evil Re:Verse</div>
                        <div id="gameTwoDates">October 28th, 2022</div>

                    <div class="gameThree">Bayonetta 3</div>
                        <div id="gameThreeDates">October 28th, 2022</div>

                    <div class="gameFour">Pokemon Scarlet and Violet</div>
                     <div id="gameFourDates">November 18th, 2022</div>
                </div>

                <div class="col-sm">
                    <h2>Upcoming events</h2>
                    <div id="eventOne">PAX West</div>
                    <div id="eventOneDates">September 2nd-5th, 2022</div>

                    <div id="eventTwo">Twitch Con</div>
                    <div id="eventTwpDates">October 7th-9th, 2022</div>

                    <div id="eventThree">Anime Austin</div>
                    <div id="eventThreeDates">November 18th-20th, 2022</div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/public/logout.js"></script>


</body>

</html>